@use '../../colors.scss' as *;

footer {
    position: fixed;
    top: 0;

    padding: 10px;

    width: 100%;

    color: gray;
    background: white;

    font-size: 0.8rem;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: row;
    
    justify-content: space-between;

    align-items: center;
}

footer a {
    margin-right: 20px;
}

footer div {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-right: 20px;
}