@use 'vars.scss' as *;
@use 'colors.scss' as *;

.input {
    position: relative;

    padding: 5px;

    border: 1px solid;
    border-radius: $border-radius-small;

    outline: 0;

    transition: $transition;
}

.button-error {
    border-color: $danger-dark;
    color: $danger-dark;
}

.button-primary {
    border-color: $border-color;
}

.input-primary:hover {
    border-color: $primary;
}

.button-error:hover {
    border-color: $danger;
    color: $danger;
}